.gradle/
.kotlin/
local.properties
build/
app/build/
captures/
.cxx/
.idea/
*.iml

# Артефакты сборки/распаковки APK в корне
/AndroidManifest.xml
/DebugProbesKt.bin
/META-INF/
/app/release/
/assets/
/classes.dex
/classes*.dex
/kotlin/
/lib/
/res/
/resources.arsc
/replay_*.log
